<html lang="en">
  <head>
    <title>Todo App</title>
    <style>
    .hidden{
      display: none;
    }
    ul {
      list-style: none;
      padding:0;
      margin:0;
      width:300px;
    }
    li {
      clear: both;
    }
    li button {
      -webkit-appearance: none;
      border: none;
      outline: none;
      color: green;
      float: right;
      cursor: pointer;
      font-size: 20px;
    }
    .lists-section, .todos-section {
      display: inline-block;
      vertical-align: top;
    }
    </style>
  </head>

  <body>
    <h3>Todos List App</h3>
    <div class="lists-section">
      <h4>Lists Overview</h4>
      <form action="/todos/create/list" method="POST" id = "list-form">
      <label for="todoList">Create List:</label>
      <input type="text" name="todolist" id="todolist-input" placeholder="A New List" data-id="{{ active_list.id }}"/>
      <button type="submit">Create List</button>
    </form>
      <ul id="lists">
        {% for list in lists %}
        <li>
        <input type="checkbox" data-id="{{ list.id }}" class="list-check-completed">
        <a href="/lists/{{ list.id}}">{{ list.name }}</a>
        <button class="deleted-list" data-id= "{{ list.id }}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
    </div>

    <div class="todos-section">
      <h4> Todo Items</h4>
    <form action="/todos/create/item" method="POST" id="item-form">
      <input id="list_id" type="hidden" value="{{ active_list.id }}">
      <label for="description">Create Task:</label>
      <input type="text" name="description" id="description" placeholder="A New Item" />
      <button type="submit">Create Task</button>
    </form>
    <div id="error" class="hidden">BUST!!!!</div>
    <h4> List: {{ active_list.name }} </h4>
    <ul id ="todos">
      {% for d in data %}
      <li>
        <input class="check-completed" data-id=" {{ d.id  }}" type="checkbox" {% if d.completed %} checked {% endif %} />
        {{ d.description }}
        <button class="deleted-item" data-id= "{{ d.id }}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
  </div>

    <script>
    const listcheckboxes = document.querySelectorAll('.list-check-completed');
    for (let i = 0; i < listcheckboxes.length; i++) {
      const checkbox = listcheckboxes[i];
      checkbox.onchange = function(e) {
        const newCompleted = e.target.checked;
        const listId = e.target.dataset['id'];
        fetch('/todos/' + listId + '/list-completed', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function() {
          document.getElementById('error').className = 'hidden';

          const todoCheckboxes = document.querySelectorAll('.todo-check-completed');

          for (let i = 0; i < todoCheckboxes.length; i++){
            const checkbox = todoCheckboxes[i]

            checkbox.checked=True
          }
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
    }

      const todocheckboxes = document.querySelectorAll('.check-completed');
      for (let i = 0; i < todocheckboxes.length; i++) {
        const checkbox = todocheckboxes[i];
        checkbox.onchange = function(e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted,
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }


      const deleted_items = document.querySelectorAll('.deleted-item');
      for (let i = 0; i < deleted_items.length; i++) {
        const deleted_item = deleted_items[i];
        deleted_item.onclick = function(e) {
          const todoId = e.target.dataset['id']
          fetch('/todos/' + todoId + '/set-deleted', {
            method: 'DELETE'
            //this is a promise - so you get the emitted value from running the function
          }).then (function(){
            const item = e.target.parentElement;
            item.remove;
            document.getElementById("error").classname = "hidden";
            window.location.reload(true);
          })
        }
      }

      const deleted_lists = document.querySelectorAll('.deleted-list');
      for (let i = 0; i < deleted_lists.length; i++) {
        const deleted_list = deleted_lists[i];
        deleted_list.onclick = function(e) {
          const listId = e.target.dataset['id']
          fetch('/todos/' + listId + '/list-deleted', {
            method: 'DELETE'
            //this is a promise - so you get the emitted value from running the function
          }).then (function(){
            const item = e.target.parentElement;
            item.remove;
            document.getElementById("error").classname = "hidden";
            window.location.reload(true);
          })
          .catch(function(e) {
            console.error(e);
            document.getElementById("error").className = "";
          });
        };
      }

      document.getElementById('item-form').onsubmit = function (e) {
        e.preventDefault();

        fetch('/todos/create/item', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value,
            'list_id': document.getElementById('list_id').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          console.log(jsonResponse);
          const liItem = document.createElement('LI');
          liItem.innerHTML = jsonResponse['description'];
          document.getElementById('todos').appendChild(liItem);
          document.getElementById('error').className = 'hidden';
          window.location.reload(true);
        })
        .catch(function() {
          document.getElementById('error').className = '';

        })
        document.getElementById('list-form').onsubmit = function (e) {
          e.preventDefault();

          fetch('/todos/create/list', {
            method: 'POST',
            body: JSON.stringify({
              'name': document.getElementById('todolist-input').value
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function(response) {
            return response.json();
          })
          .then(function(jsonResponse) {
            console.log(jsonResponse);
            const liItem = document.createElement('LI');

            liItem.innerHTML = jsonResponse['name'];
            document.getElementById('lists').appendChild(liItem);
            document.getElementById('error').className = 'hidden';
            window.location.reload(true);
          })
          .catch(function(err) {
            document.getElementById('error').className = '';
          })
        }
    }
    </script>
  </body>
</html>
