<html>
  <head>
    <title>Todo App</title>
    <style>
    .hidden{
      display: none;
    }
    ul {
      list-style: none;
      padding:0;
      margin:0;
    }
    </style>
  </head>
  <body>
    <form id="form">
      <input type="text" name="description" id="description"/>
      <input type="submit" value="Enter" />
    </form>
    <div id="error" class="hidden">BUST!!!!</div>
    <ul id ="todos">
      {% for d in data %}
      <li><input class="check-completed" data-id=" {{ d.id  }}" type="checkbox" {% if d.completed %} checked {% endif %} /> {{ d.description }}</li>
      {% endfor %}
    </ul>
    <script>
//method querySelectorAll() returns a static (not live) NodeList representing a list of the document's elements that match the specified group of selectors.
    const checkboxes = document.querySelectorAll('.check-completed');
    for (let i=0; i< checkboxes.length; i++) {
      const checkbox = checkboxes[i];
      checkbox.onchange = function(e) {
        console.log('event', e);
        //target element is returned
        const newCompleted = e.target.checked;
        const todoId = e.target.dataset['id'];
        fetch('/todos/' + todoId + '/set-completed', {
          method: 'POST',
          body: JSON.stringify(
            {
              'completed': newCompleted
            }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function() {
          document.getElementbyId('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
    }
    document.getElementById('form').onsubmit = function (e) {
  //e is an event handler... prevent default is the prevent the refresh behavior then the ; is a seperate action
      e.preventDefault();
      fetch('/todos/create', {
        method: 'POST',
  //stringified json object description is the key... get the value of whatever the user types in
        body: JSON.stringify({
          'description':document.getElementById('description').value
        }),
  //clarify that this is json that will be received
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(function(response) {
          return response.json();
// get string in json format
      })
      .then(function(jsonResponse){
        console.log(jsonResponse);
// get the json response that we can parse wrt to json so we can get it... we need to get the object submitted in json after it is added to database
//
        const liItem = document.createElement('LI');
// we need to append the list with the new element
// ahh it makes it html format
        liItem.innerHTML = jsonResponse['description'];
//
        document.getElementById('todos').appendChild(liItem);
        document.getElementById('error').classname='hidden';
      })
// if there is an error
      .catch(function() {
        document.getElementById('error').classname='';
      })
    }
    </script>
  </body>
</html>
