<html>
  <head>
    <title>Todo App</title>
    <style>
    .hidden{
      display: none;
    }
    ul {
      list-style: none;
      padding:0;
      margin:0;
      width:200px;
    }
    li {
      clear: both;
    }
    li button {
      -webkit-appearance: none;
      border: none;
      outline: none;
      color: green;
      float: right;
      cursor: pointer;
      font-size: 20px;
    }
    </style>
  </head>
  <body>
    <form id="form">
      <input type="text" name="description" id="description"/>
      <input type="submit" value="Enter" />
    </form>
    <div id="error" class="hidden">BUST!!!!</div>
    <ul id ="todos">
      {% for d in data %}
      <li>
        <input class="check-completed" data-id=" {{ d.id  }}" type="checkbox" {% if d.completed %} checked {% endif %} />
        {{ d.description }}
        <button class="deleted-item" data-id= "{{ d.id }}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
    <script>
      const checkboxes = document.querySelectorAll('.check-completed');
      for (let i = 0; i < checkboxes.length; i++) {
        const checkbox = checkboxes[i];
        checkbox.onchange = function(e) {
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
            document.getElementById('error').className = '';
          })
        }
      }

      const deleted_items = document.querySelectorAll('.deleted-item');
      for (let i = 0; i < deleted_items.length; i++) {
        const deleted_item = deleted_items[i];
        deleted_item.onclick = function(e) {
          const todoId = e.target.dataset['id']
          fetch('/todos/' + todoId + '/set-deleted', {
            method: 'DELETE'
          });
        }
      }
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          console.log(jsonResponse);
          const liItem = document.createElement('LI');
          liItem.innerHTML = jsonResponse['description'];
          document.getElementById('todos').appendChild(liItem);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
    </script>
  </body>
</html>
